div:nth-child(1) {
  background-color: rgb(21, 236, 39);
}

div:nth-child(2) {
  background-color: rgb(185, 90, 45);
}

div:nth-child(3) {
  background-color: rgb(67, 20, 197);
}

div:nth-child(4) {
  background-color: rgb(221, 20, 161);
}

div:nth-child(5) {
  background-color: rgba(42, 5, 53, 0.473);
}

div:nth-child(6) {
  background-color: rgb(117, 78, 78);
}

div:nth-child(7) {
  background-color: rgb(58, 4, 35);
}

div:nth-child(8) {
  background-color: rgb(4, 37, 19);
}

div:nth-child(9) {
  background-color: rgb(207, 126, 21);
}

@media only screen and (min-width:481px) {
  div:nth-child(1) {
      background-color: rgb(24, 84, 92);
  }

  div:nth-child(2) {
      background-color: rgb(71, 59, 59);
  }

  div:nth-child(3) {
      background-color: rgb(29, 51, 58);
  }

  div:nth-child(4) {
      background-color: rgb(202, 245, 11);
  }

  div:nth-child(5) {
      background-color: rgb(240, 55, 55);
  }

  div:nth-child(6) {
      background-color: rgb(241, 43, 241);
  }

  div:nth-child(7) {
      background-color: rgb(184, 36, 20);
  }

  div:nth-child(8) {
      color: white;
      background-color: rgb(34, 97, 150);
  }

  div:nth-child(9) {
      background-color: rgb(129, 18, 124);
  }
}

@media only screen and (min-width:769px) {
  div:nth-child(1) {
      background-color: rgb(140, 163, 36);
  }

  div:nth-child(2) {
      background-color: rgb(37, 158, 44);
  }

  div:nth-child(3) {
      background-color: rgb(143, 23, 39);
  }

  div:nth-child(4) {
      background-color: rgb(253, 148, 28);
  }

  div:nth-child(5) {
      background-color: rgb(102, 35, 11);
  }

  div:nth-child(6) {
      background-color: rgb(12, 141, 192);
  }

  div:nth-child(7) {
      background-color: rgb(70, 24, 156);
  }

  div:nth-child(8) {
      background-color: rgb(175, 19, 189);
  }

  div:nth-child(9) {
      background-color: rgb(15, 5, 102);
  }
}