#header {
  width: 480px;
  height: 225px;
  /* border: 1px solid #333; */
  margin: auto;
}


#body {
  width: 480px;
  height: 250px;
  /* border: 1px solid #333; */
  margin: auto;
}


#cards {
  width: 480px;
  height: 500px;
  /* border: 1px solid #333; */
  margin: auto;
}

#footer {
  width: 480px;
  height: 80px;
  border: 1px solid #333;
  margin: auto;
}

#top {
  width: 100%;
  height: 75px;
  border: 1px solid #333;
  margin: auto;
}


#second {
  width: 100%;
  height: 150px;
  border: 1px solid #333;
  margin: auto;
}

#third {
  width: 100%;
  height: 125px;
  border: 1px solid #333;
  margin: auto;
}


#fourth {
  width: 100%;
  height: 125px;
  border: 1px solid #333;
  margin: auto;
}


#left1 {
  width: 239.9px;
  height: 250px;
  border: 1px solid #333;
  float: left;
}


#right1 {
  width: 239.9px;
  height: 250px;
  border: 1px solid #333;
  float: right;
}


#left2 {
  width: 239.9px;
  height: 250px;
  border: 1px solid #333;
  float: left;
}


#right2 {
  width: 239.9px;
  height: 250px;
  border: 1px solid #333;
  float: right;
}


#bottom {
  clear: both;
  width: 480px;
  height: 80px;
  border: 1px solid #333;
}


p {
  text-align: center;
  background-color: bisque;

}

